.block-new-form-top {
  padding: 15px;
}

.title-home {
  font-size: 30px;
  font-weight: 600;
  background: #FF0000;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  @include border-radius(5px);
  margin-bottom: 20px;
}

.new-form-top {
  margin-bottom: 20px;
  & .new-form-content {
    height: 100px;
    @include border-radius(50%);
    background: #FABD93;
    border: 3px solid #FABD93;
  }
}

.new-form-content {
  background: #fff;
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  @include border-radius(5px);
  @include size(100%,50px);
  border: 3px solid #FACA83;
  padding: 0 5px;
  & span {
    font-size: 25px;
    line-height: 25px;
    padding: 0 30px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    @include translate3d(0, -50%, 0);
  }
}

.new-form-center {
  margin-bottom: 20px;
  & .new-form-content {
    height: 100px;
    border: 3px solid #FABD93;
    & span {
      font-size: 25px;
      line-height: 25px;
    }
  }
}

.new-form-bottom {
  margin-bottom: 20px;
  & .new-form-content {
    height: 100px;
    border: 3px solid #ED7D31;
    background: #ED7D31;
    position: relative;
    @include border-radius(0);
    &:before,
    &:after {
      content: "";
      position: absolute;
      @include size(0,0);
      border-bottom: 50px solid transparent;
      border-top: 50px solid transparent;
    }
    &:before {
      border-left: 30px solid #ECF0F5;
      left: -3px;
      top: -3px;
    }
    &:after {
      border-left: 30px solid #ED7D31;
      right: -33px;
      top: -3px;
      z-index: 999;
    }
    & span {
      font-size: 30px;
      line-height: 25px;
      width: calc(100% - 70px);
      left: 40px;
    }
  }
}

.new-form-content-line {
  & span {
    &:after {
      content: '';
      position: absolute;
      @include size(90%,1px);
      background: #333;
      left: 5%;
    }
  }
}

.new-form-bottom {
  & .col-sm-4 {
    width: 32%;
  }
}


/* Block pagkage */
.block-pagkage {
  & .bodybox {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
    margin-bottom: 10px;
  }
  & .bg-trun {
    background-color: transparent ;
    border-top: none;
  }
  & .boxView {
    @include border-radius(5px);
    @include transition(box-shadow, .3s, ease);
    border: 3px solid #ED7D31;
    text-align: center;
    @include box-sizing(border-box);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    padding: 10px 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0);
    color: #000;
    min-height: 90px;
    & .contentView {
      & h5 {
        font-size: 18px;
        font-weight: bold;
        height: 25px;
        text-shadow: none;
      }
    }
  }
}

.block-sell {
  position: relative;
  overflow: hidden;
  & .small-box {
    @include border-radius(0);
    margin-bottom: 0;
    padding-top: 22px;
    box-shadow: none;
  }
  & .bg-yellow-top {
    @include border-radius-corner(25px, 0, 0, 0);
  }
  & .bg-red-top {
    @include border-radius-corner(0, 25px, 0, 0);
  }
  & .bg-primary-bot {
    @include border-radius-corner(0, 0, 0, 25px);
  }
  & .bg-aqua-bot {
    @include border-radius-corner(0, 0, 25px, 0);
    background-color: #176868;
    color: #fff;
  }
  & .buysell-position {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%,-50%);
    @include border-radius(5px);
    background: #E1E1E1;
    border: 3px solid #fff;
    font-weight: 600;
    padding: 10px 15px;
    z-index: 99999;
  }
}


/* Block Charts */
.block-chart {
  & .box-header {
    background: #fff;
    border: 3px solid #D6712B;
    color: #000;
    font-size: 25px;
    & .box-title {
      font-size: 25px;
      font-weight: 600;
    }
  }
  & .box-body {
    @include gradient(#7adddd, #39cccc);
  }
  & .box-footer {
      border: 3px solid #D6712B !important;
      padding: 0;
    & .col-xs-6 {
      &:first-child {
        border-right: 3px solid #D6712B;
      }
    }
    & h3 {
      margin-top: 10px;
      margin-bottom: -4px;
    }
    & .knob-label {
      font-size: 25px;
      text-align: center;
      color: #333;
      font-weight: 100;
      margin-bottom: 0.3em;
    }
  }
  & #line-chart {
    height: 250px;
  }
}

/* Block Lasted */
.block-lasted {
  & .box {
    border: 5px solid #5B9BD5;
    @include border-radius(0);
    border-top-color: #6bb3dd ;
    margin-bottom: 0;
    & .box-header {
      border-bottom: 1px solid #a9e0ff;
      background-color: #d4ebf9;
      background-color: white;
      border-bottom: none ;
      & .box-title {
        font-weight: 400;
        font-size: 15px ;
      }
    }
  }
  & .listtransaction {
    display: block;
    height: 320px;
    overflow: hidden;
    margin-bottom: 19px;
  }
}

@media (max-width: 767px) {
  .block-new-form-top {
    & .col-sm-4 {
      margin-top: 5px;
      & .row {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  .new-form-bottom {
    & .col-sm-4 {
      width: calc(100% - 30px);
    }
  }
  .block-sell,
  .block-chart {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .new-form-bottom {
    & .new-form-content {
      & span {
        font-size: 20px;
      }
    }
  }
}