/* Menber - Tree */
.block-search {
  & .input-group-btn {
    & .btn {
      & i.fa {
        margin-right: 5px;
      }
    }
  }
}
.block-tree {
  position: relative;
  & ul {
    padding: 0;
    padding-top: 20px;
    position: relative;
    @include transition(all, 0.5s);
    margin-top: -5px;
    & li {
      text-align: center;
      list-style-type: none;
      position: relative;
      padding: 25px 0 0 0;
      @include transition(all, 0.5s);
    }
    & a {
      padding: 5px 10px;
      text-decoration: none;
      color: #01011F;
      font-family: arial, verdana, tahoma;
      font-size: 11px;
      display: inline-block;
      @include transition(all, 0.5s);
      @include border-radius(5px);
      & img {
        height: 40px;
      }
    }
  }
  & .block-garpMain {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    position: relative;
  }
  & .img-level2 {
    & img {
      @include size(60px,60px);
    }
  }
  & .img-npp {
    margin-top: 5px;
    color: #423D3A;
    font-size: 14px;
    font-weight: bold;
  }
  & .name-npp {
    color: #3c763d;
    vertical-align: bottom;
    font-weight: normal;
    font-size: 13px;
    margin-top: 5px;
  }
  & .block-quickTool {
    position: absolute;
    top: -150px;
    left: -90px;
    width: 300px;
    @include border-radius(4px);
    @include translate(0, 0);
    @include transition(all, .3s);
    @include opacity(0);
    @include gradient(#333, #333);
    z-index: 999;
    visibility: hidden;
  }
  & .ShowDetailAccHome {
    & .titleAcc {
      background-color: #333;
      border-bottom: 1px dotted #fff;
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      line-height: 28px;
      text-align: center;
      @include size(100%,30px);
    }
    & .bodyAcc {
      width: 100%;
      overflow: hidden;
      padding-top: 5px;
      padding-bottom: 10px;
    }
    & span {
      float: left;
      clear: left;
      display: inline-block;
      color: #000000;
      & strong {
        &:first-child {
          font-size: 13px;
          font-weight: bold;
          float: left;
          color: #fff;
          width: 114px;
          padding-left: 10px;
          padding-top: 6px;
          text-align: left;
        }
        &:last-child {
          font-size: 14px;
          font-weight: bold;
          text-align: left;
          float: left;
          width: 160px;
          color: #fff;
          padding-left: 0;
          padding-top: 4px;
        }
      }
    }
  }
  & .block-member {
    &:hover .block-quickTool {
      top: -130px;
      opacity: 1;
      visibility: visible;
      @include translate(0,0);
      @include transition(all, .3s);
    }
  }
  & .block-addmemer {
    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 50%;
      border-left: 1px dotted #333;
      @include size(0,20px);
    }
    & .block-modal-addMember {
      float: left;
      width: 50%;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 5px;
        right: 50%;
        border-top: 1px dotted #333;
        @include size(50%,20px);
      }
      &:first-child:before,
      &:last-child:after {
        border: 0 none;
      }
      &:after {
        right: auto;
        left: 50%;
        border-left: 1px dotted #333;
      }
      &:first-child::after {
        @include border-radius(5px 0 0 0);
      }
      &:last-child::before {
        border-right: 1px dotted #333;
        @include border-radius(0 5px 0 0);
      }
    }
  }
}

@media (max-width: 414px) {
  .block-tree {
    position: relative;
    & ul {
      & a {
        & img {
          height: 20px;
        }
      }
    }
    & .img-level2 {
      & img {
        @include size(30px,30px);
      }
    }
    & .img-npp {
      font-size: 10px;
      margin-top: 5px;
    }
    & .name-npp {
      font-size: 10px;
    }
  }
}

@media (max-width: 320px) {
  .block-tree {
    position: relative;
    & ul {
      & a {
        padding: 0;
        text-decoration: none;
        color: #01011F;
        font-family: arial, verdana, tahoma;
        font-size: 11px;
        display: inline-block;
        @include transition(all, 0.5s);
        @include border-radius(5px);
      }
    }
}
}