/* Menber - Tree */
.block-tree {
  position: relative;
  & ul {
    padding: 0;
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    margin-top: -5px;
    & li {
      text-align: center;
      list-style-type: none;
      position: relative;
      padding: 25px 0 0 0;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
    }
    & a {
      padding: 5px 10px;
      text-decoration: none;
      color: #01011F;
      font-family: arial, verdana, tahoma;
      font-size: 11px;
      display: inline-block;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      & img {
        height: 40px;
      }
    }
  }
  & .block-garpMain {
    font-size: 12px;
    font-weight: bold;
    position: relative;
  }
  & .img-level2 img {
    width: 60px;
    height: 60px;
  }
  & .img-npp {
    color: #423D3A;
    font-size: 14px;
    height: 13px;
    font-weight: bold;
  }
  & .name-npp {
    color: #3c763d;
    height: 15px;
    vertical-align: bottom;
    font-weight: normal;
    font-size: 13px;
    margin-top: 5px;
  }
  & .block-quickTool {
    position: absolute;
    top: -150px;
    left: -90px;
    width: 300px;
    border-radius: 4px;
    background: linear-gradient(to bottom, #333 10%, #333 100%);
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  & .ShowDetailAccHome {
    & .titleAcc {
      background-color: #333;
      border-bottom: 1px dotted #fff;
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      height: 30px;
      line-height: 28px;
      text-align: center;
      width: 100%;
    }
    & .bodyAcc {
      width: 100%;
      overflow: hidden;
      padding-top: 5px;
      padding-bottom: 10px;
    }
    & span {
      float: left;
      clear: left;
      display: inline-block;
      color: #000000;
      & strong {
        &:first-child {
          font-size: 13px;
          font-weight: bold;
          float: left;
          color: #fff;
          width: 114px;
          padding-left: 10px;
          padding-top: 6px;
          text-align: left;
        }
        &:last-child {
          font-size: 14px;
          font-weight: bold;
          text-align: left;
          float: left;
          width: 160px;
          color: #fff;
          padding-left: 0px;
          padding-top: 4px;
        }
      }
    }
  }
  & .block-member {
    &:hover .block-quickTool {
      top: -130px;
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate(0, 0px);
      -ms-transform: translate(0, 0px);
      -o-transform: translate(0, 0px);
      transform: translate(0, 0px);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
  }
  & .block-addmemer {
    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 50%;
      border-left: 1px dotted #333;
      width: 0;
      height: 20px;
    }
    & .block-modal-addMember {
      float: left;
      width: 50%;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 5px;
        right: 50%;
        border-top: 1px dotted #333;
        width: 50%;
        height: 20px;
      }
      &:first-child:before,
      &:last-child:after {
        border: 0 none;
      }
      &:after {
        right: auto;
        left: 50%;
        border-left: 1px dotted #333;
      }
      &:first-child::after {
        border-radius: 5px 0 0 0;
        -webkit-border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
      }
      &:last-child::before {
        border-right: 1px dotted #333;
        border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
      }
    }
  }
}