.block-search-member {
	margin-top: 90px;
	& .item {
		border: 1px solid #e8e8e8;
		padding: 15px 30px;
		margin-bottom: 20px;
		&:before,
		&:after {
			content: "";
			display: table;
		}
		&:after {
			clear: both;
		}
		& .icon {
			float: left;
			@include size (160px,auto);
			margin-right: 30px;
			& img {
				@include size (160px,160px);
			}
		}
		& .info {
			float: left;
			@include calc(width, '100% - 190px');
			& ul {
			  margin: 0;
				padding: 0;
				& li {
					margin-bottom: 10px;
					list-style-type: none;
					line-height: 1;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

@media (max-width: 1024px) and (min-width: 993px) {
	.block-search-member {
		& .item {
			padding: 10px;
			& .icon {
				@include size (135px,auto);
				margin-right: 15px;
				& img {
					@include size (135px,135px);
				}
			}
			& .info {
				@include calc(width, '100% - 150px');
				& ul {
					& li {
						margin-bottom: 5px;
						& .name,
						& .username,
						& .mysponsor,
						& .supporter {
							margin-bottom: 5px;
						}
						& span:last-child {
						    overflow: hidden;
						    text-overflow: ellipsis;
						    display: block;
						    width: 100%;
						    @include size (100,15px);
						    white-space: nowrap;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 992px) and (min-width: 768px) {
	.block-search-member {
		& .item {
			& .icon {
				@include size (100%,auto);
				margin-right: 0;
				margin-bottom: 10px;
				& img {
				    @include size (135px,135px);
				    margin: 0 auto;
				    display: block;
				}
			}
			& .info {
				@include calc(width, '100% - 0px');
				text-align: center;
				& ul {
					& li {
						&:before,
						&:after {
							content: "";
							display: table;
						}
						&:after {
							clear: both;
						}
						margin-bottom: 5px;
						& .name,
						& .username,
						& .mysponsor,
						& .supporter {
							margin-bottom: 5px;
						}
						& span:first-child {
							float: left;
						    width: 80px;
						    margin-right: 5px;
						    text-align: right;
						}
						& span:last-child {
							float: left;
						    text-align: left;
						    @include calc(width, '100% - 85px');
						    overflow: hidden;
						    text-overflow: ellipsis;
						    display: block;
						    white-space: nowrap;
						}
					}
				}
			}
		}
	}
}


@media (max-width: 767px) {
	.block-search-member {
		& .item {
			& .icon {
				@include size (135px,auto);
				margin-right: 10px;
				& img {
					@include size (135px,135px);
				}
			}
			& .info {
				@include calc(width, '100% - 145px');
			}
		}
	}
}

@media (max-width: 480px) {
	.block-search-member {
		& .item {
			padding: 10px;
			& .icon {
				@include size (135px,auto);
				margin-right: 15px;
				& img {
					@include size (135px,135px);
				}
			}
			& .info {
				@include calc(width, '100% - 150px');
				& ul {
					& li {
						margin-bottom: 5px;
						& .name,
						& .username,
						& .mysponsor,
						& .supporter {
							margin-bottom: 5px;
						}
						& span:last-child {
						    overflow: hidden;
						    text-overflow: ellipsis;
						    display: block;
						    width: 100%;
						    @include size (100,15px);
						    white-space: nowrap;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 414px) {
	.block-search-member {
		margin-top: 20px;
		& .col-xs-12:last-child {
			& .item {
				margin-bottom: 0;
			}
		}
		& .item {
			& .icon {
				@include size (100%,auto);
				margin-right: 0;
				margin-bottom: 15px;
				& img {
					display: block;
					margin: 0 auto;
					@include size (135px,135px);
				}
			}
			& .info {
				@include calc(width, '100% - 0px');
				& ul {
					text-align: center;
				}
			}
		}
	}
}