/*****BASE*****/
.block-main-header .logo-mini img, .block-main-header .logo-lg img {
  margin-bottom: 5px;
  height: 50px; }

.main-header .logo .logo-lg {
  max-width: 50px; }

.sidebar-mini.sidebar-collapse .block-main-header .logo > .logo-mini {
  font-size: 0; }

.block-main-header .main-header .logo, .block-main-header .main-header .logo:hover {
  background-color: #FF0000; }
.block-main-header .main-header .navbar {
  background-color: #FF6969; }
  .block-main-header .main-header .navbar .sidebar-toggle:hover {
    background-color: #FF6969; }

.skin-red-light .wrapper, .skin-red-light .main-sidebar, .skin-red-light .left-side {
  background-color: #ECF0F5;
  border: none; }
.skin-red-light .content-header h1 {
  display: none; }
.skin-red-light .content-header > .breadcrumb {
  display: none; }

.skin-red-light .block-menu > li.treeview {
  margin-top: 15px;
  border: 3px solid #ED7D31;
  line-height: 31px;
  font-size: 21px; }
  .skin-red-light .block-menu > li.treeview > a {
    padding: 8px 5px 8px 15px; }
    .skin-red-light .block-menu > li.treeview > a.center-text-cus {
      border-left: none;
      font-size: 16px;
      padding: 11px 5px 11px 15px; }
  .skin-red-light .block-menu > li.treeview .fa {
    font-size: 25px;
    padding-right: 30px;
    margin-left: -7px; }
  .skin-red-light .block-menu > li.treeview:first-child {
    margin-top: 30px; }
.skin-red-light .block-menu > li.treeview_new {
  text-align: center;
  margin-top: 11px; }
.skin-red-light .block-menu > li.treeview_new_top {
  margin-top: 136px; }
.skin-red-light .block-menu > li:hover a, .skin-red-light .block-menu > li.active a {
  background-color: #ED7D31;
  border-left: 0px;
  color: #fff; }

/* block-pagination */
.block-pagination .pagination {
  margin: 0 2px; }

.clearfix {
  clear: both; }

.box-title {
  font-weight: 400;
  font-size: 15px !important; }

.line {
  margin: 10px 0px;
  border-top: 1px dashed #ececec; }

.box-tools {
  display: none; }

/*****LAYOUT*****/
.block-header-mobile {
  float: left;
  background: #fff;
  display: none;
  margin-left: 10px;
  border-radius: 5px; }
  .block-header-mobile .mmmenua {
    background: center center no-repeat transparent;
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    top: 0;
    left: 0px;
    text-align: center;
    z-index: 1000; }
    .block-header-mobile .mmmenua i {
      font-size: 25px;
      color: #009EBB;
      padding-top: 8px; }

.block-header-desktop {
  background: #FF0000;
  padding: 20px 0px;
  position: static;
  top: -100px; }
  .block-header-desktop .container {
    position: relative; }
  .block-header-desktop .navbar-nav {
    padding: 0px;
    margin: 0px;
    text-align: center;
    list-style: none;
    float: initial; }
    .block-header-desktop .navbar-nav > li {
      float: initial;
      display: inline-block; }
      .block-header-desktop .navbar-nav > li > a {
        padding: 0px 30px;
        color: #fff; }

.logo, .title-logo {
  display: table-cell;
  vertical-align: middle; }

.logo-header {
  position: absolute;
  left: 0px;
  top: -15px;
  z-index: 999; }
  .logo-header img {
    height: 50px; }
  .logo-header .title-logo p {
    margin: 0px;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    margin-left: 10px; }

.login-member {
  position: absolute;
  right: 70px; }
  .login-member a {
    padding: 5px 15px;
    background: #2ECC71;
    color: #fff;
    border-radius: 5px; }

.language {
  position: absolute;
  top: -2px;
  right: 0px; }

/*****PAGE*****/
.block-new-form-top {
  padding: 15px; }

.title-home {
  font-size: 30px;
  font-weight: 600;
  background: #FF0000;
  color: #fff;
  text-align: center;
  padding: 5px 0px;
  border-radius: 5px;
  margin-bottom: 20px; }

.new-form-top {
  margin-bottom: 20px; }
  .new-form-top .new-form-content {
    height: 100px;
    border-radius: 50%;
    background: #FABD93;
    border: 3px solid #FABD93; }

.new-form-content {
  height: 50px;
  background: #fff;
  float: left;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  border-radius: 5px;
  border: 3px solid #FACA83;
  padding: 0px 5px; }
  .new-form-content span {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.new-form-top .new-form-content span {
  font-size: 25px;
  line-height: 25px;
  padding: 0px 30px; }

.new-form-center {
  margin-bottom: 20px; }
  .new-form-center .new-form-content {
    height: 100px;
    border: 3px solid #FABD93; }
    .new-form-center .new-form-content span {
      font-size: 25px;
      line-height: 25px; }

.new-form-bottom {
  margin-bottom: 20px; }
  .new-form-bottom .new-form-content {
    height: 100px;
    border: 3px solid #ED7D31;
    background: #ED7D31;
    position: relative;
    border-radius: 0px; }
    .new-form-bottom .new-form-content:before {
      content: "";
      position: absolute;
      width: 0px;
      height: 0px;
      border-bottom: 50px solid transparent;
      border-top: 50px solid transparent;
      border-left: 30px solid #ECF0F5;
      left: -3px;
      top: -3px; }
    .new-form-bottom .new-form-content:after {
      content: "";
      position: absolute;
      width: 0px;
      height: 0px;
      border-bottom: 50px solid transparent;
      border-top: 50px solid transparent;
      border-left: 30px solid #ED7D31;
      right: -33px;
      top: -3px;
      z-index: 999; }
    .new-form-bottom .new-form-content span {
      font-size: 30px;
      line-height: 25px;
      width: calc(100% - 70px);
      left: 40px; }

.new-form-content-line span:after {
  content: '';
  position: absolute;
  width: 90%;
  height: 1px;
  background: #333;
  left: 5%; }

.new-form-bottom .col-sm-4 {
  width: 32%; }

/* Block pagkage */
.block-pagkage .bodybox {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
  margin-bottom: 10px; }
.block-pagkage .bg-trun {
  background-color: transparent !important;
  border-top: none; }
.block-pagkage .boxView {
  border-radius: 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 3px solid #ED7D31;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  transition: box-shadow .3s ease;
  padding: 10px 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: rgba(255, 255, 255, 0);
  color: #000;
  min-height: 90px; }
  .block-pagkage .boxView .contentView h5 {
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    text-shadow: none; }

.block-sell {
  position: relative;
  overflow: hidden; }
  .block-sell .small-box {
    border-radius: 0px;
    margin-bottom: 0px;
    padding-top: 22px;
    box-shadow: none; }
  .block-sell .bg-yellow-top {
    border-top-left-radius: 25px; }
  .block-sell .bg-red-top {
    border-top-right-radius: 25px; }
  .block-sell .bg-primary-bot {
    border-bottom-left-radius: 25px; }
  .block-sell .bg-aqua-bot {
    border-bottom-right-radius: 25px;
    background-color: #176868;
    color: #fff; }
  .block-sell .buysell-position {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #E1E1E1;
    border: 3px solid #fff;
    border-radius: 5px;
    font-weight: 600;
    padding: 10px 15px;
    z-index: 99999; }

/* Block Charts */
.block-chart .box-header {
  background: #fff;
  border: 3px solid #D6712B;
  color: #000 !important;
  font-size: 25px; }
  .block-chart .box-header .box-title {
    font-size: 25px !important;
    font-weight: 600; }
.block-chart .box-body {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #39cccc), color-stop(1, #7adddd)) !important;
  background: -ms-linear-gradient(bottom, #39cccc, #7adddd) !important;
  background: -moz-linear-gradient(center bottom, #39cccc 0, #7adddd 100%) !important;
  background: -o-linear-gradient(#7adddd, #39cccc) !important; }
.block-chart .box-footer {
  border: 3px solid #D6712B !important;
  padding: 0px; }
  .block-chart .box-footer .col-xs-6:first-child {
    border-right: 3px solid #D6712B; }
  .block-chart .box-footer h3 {
    margin-top: 10px;
    margin-bottom: -4px; }
  .block-chart .box-footer .knob-label {
    font-size: 25px !important; }

/* Block Lasted */
.block-lasted .box {
  border: 5px solid #5B9BD5;
  border-radius: 0px;
  border-top-color: #6bb3dd !important;
  margin-bottom: 0; }
  .block-lasted .box .box-header {
    border-bottom: 1px solid #a9e0ff;
    background-color: #d4ebf9;
    background-color: white;
    border-bottom: none !important; }
    .block-lasted .box .box-header .box-title {
      font-weight: 400;
      font-size: 15px !important; }
.block-lasted .listtransaction {
  display: block;
  height: 335px;
  overflow: hidden; }

body.login {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #e8ebf1;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  min-height: 100%; }

/* Page Login */
.signin_wrapper {
  background: url(../img/lock.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: 50% 50% !important; }
  .signin_wrapper .block-side-right {
    position: fixed;
    width: 535px;
    right: 0;
    background: rgba(0, 9, 22, 0.8);
    padding: 0px 40px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden; }

.form-login .signup-heading {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 50%;
  margin-bottom: 50px;
  text-align: center; }
.form-login .input-field {
  position: relative;
  margin-top: 1rem; }
  .form-login .input-field label {
    color: #ffffff;
    position: absolute;
    top: 0.8rem;
    left: 0.75rem;
    font-size: 14px;
    cursor: text;
    backface-visibility: hidden;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out; }
    .form-login .input-field label.active {
      font-size: 11px;
      -webkit-transform: translateY(-140%);
      -moz-transform: translateY(-140%);
      -ms-transform: translateY(-140%);
      -o-transform: translateY(-140%);
      transform: translateY(-140%); }
  .form-login .input-field input {
    color: #ffffff; }
.form-login .prefix {
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  color: #ffffff;
  backface-visibility: hidden;
  font-size: 30px;
  text-align: center;
  padding-right: 20px; }
  .form-login .prefix.active {
    color: #2196f3; }
  .form-login .prefix ~ input, .form-login .prefix ~ textarea {
    margin-left: 3rem;
    width: 92%; }
  .form-login .prefix ~ label {
    margin-left: 3rem; }
.form-login .input-style {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 43px;
  width: 100%;
  font-size: 14px;
  margin: 0 0 15px 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s; }
  .form-login .input-style:focus {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3; }
    .form-login .input-style:focus + label {
      color: #fff; }
  .form-login .input-style.valid {
    border-bottom: 1px solid #6fd64b;
    box-shadow: 0 1px 0 0 #6fd64b; }

.form-login .block-forget {
  text-align: right;
  margin-top: 50px;
  margin-bottom: 20px; }
  .form-login .block-forget a {
    color: #fff; }
    .form-login .block-forget a:hover {
      text-decoration: none; }

.form-login .block-btn .btn-block {
  margin-top: 30px;
  line-height: 30px;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #2196f3;
  border: 1px solid transparent;
  border-radius: 0; }

/* Modal */
.login .modal .modal-content {
  border-radius: 0px; }
  .login .modal .modal-content .modal-header {
    border-radius: 0px;
    color: #707780;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 24px;
    border-bottom: 1px solid #e9ecf2; }
    .login .modal .modal-content .modal-header span {
      font-size: 16px; }
.login .modal .modal-title {
  color: #707780;
  font-size: 16px; }
.login .modal .modal-body {
  color: #9398a0;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 24px; }
.login .modal .note {
  margin-top: 30px;
  color: #707780;
  color: #fb5d5d; }
.login .modal .input-style {
  border-radius: 0px;
  font-weight: 300;
  line-height: 40px;
  color: #aaaaaa;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s; }
  .login .modal .input-style:focus {
    border-bottom: 1px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    -moz-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 #26a69a; }
.login .modal.btn-red {
  margin-top: 0;
  border-radius: 3px;
  color: #fff;
  background-color: #fb5d5d;
  border: 1px solid transparent; }
.login .modal .btn-send {
  margin-bottom: 0;
  margin-left: 5px;
  margin-top: 0;
  color: #fff;
  border-radius: 3px;
  background-color: #2196f3;
  border: 1px solid transparent; }

/* Menber - Tree */
.block-tree {
  position: relative; }
  .block-tree ul {
    padding: 0;
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    margin-top: -5px; }
    .block-tree ul li {
      text-align: center;
      list-style-type: none;
      position: relative;
      padding: 25px 0 0 0;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s; }
    .block-tree ul a {
      padding: 5px 10px;
      text-decoration: none;
      color: #01011F;
      font-family: arial, verdana, tahoma;
      font-size: 11px;
      display: inline-block;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s; }
      .block-tree ul a img {
        height: 40px; }
  .block-tree .block-garpMain {
    font-size: 12px;
    font-weight: bold;
    position: relative; }
  .block-tree .img-level2 img {
    width: 60px;
    height: 60px; }
  .block-tree .img-npp {
    color: #423D3A;
    font-size: 14px;
    height: 13px;
    font-weight: bold; }
  .block-tree .name-npp {
    color: #3c763d;
    height: 15px;
    vertical-align: bottom;
    font-weight: normal;
    font-size: 13px;
    margin-top: 5px; }
  .block-tree .block-quickTool {
    position: absolute;
    top: -150px;
    left: -90px;
    width: 300px;
    border-radius: 4px;
    background: linear-gradient(to bottom, #333 10%, #333 100%);
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .block-tree .ShowDetailAccHome .titleAcc {
    background-color: #333;
    border-bottom: 1px dotted #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    line-height: 28px;
    text-align: center;
    width: 100%; }
  .block-tree .ShowDetailAccHome .bodyAcc {
    width: 100%;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 10px; }
  .block-tree .ShowDetailAccHome span {
    float: left;
    clear: left;
    display: inline-block;
    color: #000000; }
    .block-tree .ShowDetailAccHome span strong:first-child {
      font-size: 13px;
      font-weight: bold;
      float: left;
      color: #fff;
      width: 114px;
      padding-left: 10px;
      padding-top: 6px;
      text-align: left; }
    .block-tree .ShowDetailAccHome span strong:last-child {
      font-size: 14px;
      font-weight: bold;
      text-align: left;
      float: left;
      width: 160px;
      color: #fff;
      padding-left: 0px;
      padding-top: 4px; }
  .block-tree .block-member:hover .block-quickTool {
    top: -130px;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .block-tree .block-addmemer:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 50%;
    border-left: 1px dotted #333;
    width: 0;
    height: 20px; }
  .block-tree .block-addmemer .block-modal-addMember {
    float: left;
    width: 50%; }
    .block-tree .block-addmemer .block-modal-addMember:before, .block-tree .block-addmemer .block-modal-addMember:after {
      content: '';
      position: absolute;
      top: 5px;
      right: 50%;
      border-top: 1px dotted #333;
      width: 50%;
      height: 20px; }
    .block-tree .block-addmemer .block-modal-addMember:first-child:before, .block-tree .block-addmemer .block-modal-addMember:last-child:after {
      border: 0 none; }
    .block-tree .block-addmemer .block-modal-addMember:after {
      right: auto;
      left: 50%;
      border-left: 1px dotted #333; }
    .block-tree .block-addmemer .block-modal-addMember:first-child::after {
      border-radius: 5px 0 0 0;
      -webkit-border-radius: 5px 0 0 0;
      -moz-border-radius: 5px 0 0 0; }
    .block-tree .block-addmemer .block-modal-addMember:last-child::before {
      border-right: 1px dotted #333;
      border-radius: 0 5px 0 0;
      -webkit-border-radius: 0 5px 0 0;
      -moz-border-radius: 0 5px 0 0; }

/*# sourceMappingURL=style.css.map */
