footer {
  padding: 10px 0px;
  background: #22313F;
  color: #fff;
  text-align: right;
  & .nav-link-footer li {
    display: inline-block;
    margin: 0 10px;
  }
  & a {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  & .block-social {
    & a i {
        font-size: 18px;
        margin: 0px 15px;
        margin-top: 3px;
    }
    & a:hover {
      text-decoration: none;
    }
  }
}

/*----------------
[Styles for devices min 768px and max 991px
*/
@media (min-width: 768px) and (max-width: 991px) {
  footer {
    text-align: left;
    font-size: 12px;
  }
  footer .nav-link-footer li {
    float: left;
    margin: 0 3px;
    & a {
      font-size: 11px;
    }
  }
  footer .block-social a i {
    font-size: 14px;
  }
}

/*----------------
[Styles for devices max 767px
*/
@media (max-width: 767px) {
  footer {
    text-align: left;
  }
  footer .nav-link-footer li {
    float: left;
  }
}