@media (max-width: 900px) {
  .sidebar-toggle {
    display: none;
  }
  .main-sidebar {
    width: 50px;
    @include translate3d(0, 0, 0);
    & .sidebar-menu {
      &>li {
        &>a {
          &>span {
            display: none;
          }
        }
      }      
    }
  }
  .content-wrapper,
  .main-footer {
    margin-left: 50px;
  }
}