/*------------------------------------------------------------------
[Table of contents]
1.  Styles for devices max 1200px
2.  
3.  
4.  
5.  
6.  
7.  
8.  
9.  
10. 

------------------------*/

/*----------------
[Styles for devices min 767px
*/
@media (max-width: 991px) and (min-width: 767px) {
	.block-header-desktop ul {
		padding-left: 100px;
	}
	.block-header-desktop .navbar-nav>li>a {
		padding: 0px 10px;
	}
}

/*----------------
[Styles for devices min 767px
*/
@media (max-width: 767px) {
  	.block-header-mobile {
	  display: block;
	}
	.block-header-desktop {
	  display: none;
	}
	.logo-header {
	  position: absolute;
	  left: 60px;
	  top: 0px;
	}
	.language {
	  top: 7px;
	  right: 10px;
	}
	.hidedesktop {
	  display: none;
	}
	#main {
		padding-top: 60px;
	}
	.block-page-about,
	.block-page-news,
	.block-page-download,
	.block-page-contact {
	  padding: 15px 0;
	}
	footer {
		text-align: left;
	}
	footer .nav-link-footer li {
		float: left;
	}
}