/*
Error: Undefined mixin 'transition'.
        on line 3 of D:/Work/xampp/htdocs/www/businessbnc/frontend/sass/base/_common.scss, in `transition'
        from line 3 of D:/Work/xampp/htdocs/www/businessbnc/frontend/sass/base/_common.scss
        from line 4 of D:\Work\xampp\htdocs\www\businessbnc\frontend\sass\style.scss

1: @charset "utf-8";
2: /*****BASE*****\/
3: @import "base/reset";
4: @import "base/common";
5: @import "base/mixins";
6: /*****LAYOUT*****\/
7: @import "layout/header";
8: @import "layout/footer";

Backtrace:
D:/Work/xampp/htdocs/www/businessbnc/frontend/sass/base/_common.scss:3:in `transition'
D:/Work/xampp/htdocs/www/businessbnc/frontend/sass/base/_common.scss:3
D:\Work\xampp\htdocs\www\businessbnc\frontend\sass\style.scss:4
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `block in with_mixin'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `with_mixin'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `map'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:88:in `block in with_import'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:88:in `with_import'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
D:/SETUP_EXE/Koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
D:/SETUP_EXE/Koala/bin/sass:22:in `load'
D:/SETUP_EXE/Koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'transition'.\A         on line 3 of D:/Work/xampp/htdocs/www/businessbnc/frontend/sass/base/_common.scss, in `transition'\A         from line 3 of D:/Work/xampp/htdocs/www/businessbnc/frontend/sass/base/_common.scss\A         from line 4 of D:\Work\xampp\htdocs\www\businessbnc\frontend\sass\style.scss\A \A 1: @charset \"utf-8\";\A 2: /*****BASE*****/\A 3: @import \"base/reset\";\A 4: @import \"base/common\";\A 5: @import \"base/mixins\";\A 6: /*****LAYOUT*****/\A 7: @import \"layout/header\";\A 8: @import \"layout/footer\";"; }
