.block-main-header {
  & .logo-mini,
  & .logo-lg {
    & img {
      margin-bottom: 5px;
      height: 50px;
    }
  }
}

.main-header {
  & .logo {
    & .logo-lg {
      max-width: 50px;
    }
  }
}

.sidebar-mini.sidebar-collapse {
  & .block-main-header {
    & .logo {
      &>.logo-mini {
        font-size: 0;
      }
    }
  }
}

.skin-red-light {
  & .wrapper,
  & .main-sidebar,
  & .left-side {
    background-color: #ECF0F5;
    border: none;
  }
  & .content-header {
    & h1,
    &>.breadcrumb {
      display: none;
    }
  }
  .block-main-header {
  & .logo {
    height: 51px;
    background: #FF0000;
    &:hover {
      background-color: #FF0000;
    }
  }
  & .navbar {
    background-color: #FF6969;
    & .sidebar-toggle:hover {
      background-color: #FF6969;
    }
    & .navbar-custom-menu {
      .navbar-nav {
          float: right;
          margin-right: 0px;
          & .user-menu {
            & .user-image {
              width: 45px;
              height: 45px;
              margin-top: -12px;
              margin-right: 5px;
            }
          }
        } 
      }
    }
  }
}

@media (max-width: 767px) {
  .skin-red-light {
    .block-main-header {
    & .navbar {
      & .dropdown-menu {
        & li {
          & a {
            color: #777;
          }
        }
      }
      & .navbar-custom-menu {
        & .navbar-nav {
            & .user-menu {
              & .user-image {
                width: 30px;
                height: 30px;
              }
            }
          } 
        }
      }
    }
  }
}

.skin-red-light {
  & .block-menu {
    &>li {
      margin-top: 15px;
      border: 3px solid #ED7D31;
      line-height: 31px;
      font-size: 21px;
      &>a {
        padding: 8px 5px 8px 15px;
        &.center-text-cus {
          border-left: none;
          font-size: 16px;
          padding: 11px 5px 11px 15px;
          color: #000;
        }
      }
      & .fa {
        font-size: 25px;
        padding-right: 30px;
        margin-left: -7px;
      }
      &:first-child {
        margin-top: 30px;
      }
      &.treeview_new {
        text-align: center;
        margin-top: 11px;
      }
      &.treeview_new_top {
        margin-top: 136px;
      }
      &:hover a,
      &.active a {
        background-color: #ED7D31;
        border-left: 0px;
        color: #fff;
      }
    }
  }
}

/* block-pagination */
.block-pagination {
  & .pagination {
    margin: 0 2px;
  }
}
.clearfix {
  clear: both;
}
.box-title {
  font-weight: 400;
  font-size: 15px;
  & i.fa {
    margin-right: 5px;
  }
}
.line {
  margin: 10px 0px;
  border-top: 1px dashed #ececec;
}
.box-tools {
  display: none;
}
/* Select2 Width 100% */
.selectw100 {
  & .select2 {
    width: 100% !important;
  }
}