/*===== Import Files =====*/
/*  Css */
@import url(../lib/bootstrap/bootstrap.min.css);
@import url(../lib/carousel/owl.carousel.min.css);
@import url(../lib/awesome/font-awesome.min.css);
@import url(../lib/animate/animate.min.css);
@import url(../lib/mmenu/jquery.mmenu.all.css);

/*===== Layout Style =====*/
html {
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
}
.clearfix {
  clear: both;
}
body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
#main {
  width: 100%;
  min-height: calc(100vh - 103px);
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -o-flex: 1 1 auto;
  flex: 1 1 auto;
}
.block {
  margin-bottom: 10px;
}
.block:before,
.block:after {
  content: "";
  display: table;
}
.block:after {
  clear: both;
}
.wrapper {
  display: block;
  position: relative;
  overflow: hidden;
}